.site-logo {
  max-height: 33px;
  display: inline;
  margin: 3px;
  border-radius: 5px;
  margin-top: 3px;
}
img.site-logo {
  display: inline;
}
#header {
  background: #82AB1F;
  color: #F2F2F2;
  margin-bottom: 5px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 2px 2px #AAA;
}
#header a {
  font-size: 20px;
  font-weight: 200;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
#header img {
  margin-left: 8px;
}
#beef {
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: white;
  box-shadow: 2px 2px 8px 1px #AAA;
}
.falafel {
  max-width: 48em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #E7E7E7;
}
h4 {
  margin: 7px 0 7px;
}
code {
  color: black;
}
hr {
  border-top: 2px solid #EEE
}
.article-date {
  text-align: right;
  color: grey;
  font-size: 12px;
}
