.site-logo {
  max-height: 33px;
  display: inline;
  margin: 3px;
  border-radius: 5px;
  margin-top: 3px;
}
body {
  padding-top: 60px;
}
.beef {
  padding: 10px 15px 10px;
  background-color: white;
}
body {
  background-color: #E7E7E7;
}
.container {
  max-width:640px;
}
@media (max-width:640px) {
  body {
    background-color: white;
  }
  .beef {
    padding: 10px 0 10px;
  }
}
h4 {
  margin: 7px 0 7px;
}
code {
  color: black;
}
hr {
  border-top: 2px solid #EEE
}
