<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Lauri Lehmijoki">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="alternate" href="http://feeds.feedburner.com/LauriLehmijoki" title="Lauri Lehmijoki" type="application/atom+xml" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      .site-logo {
        max-height: 33px;
        display: inline;
        margin: 3px;
        border-radius: 5px;
        margin-top: 3px;
      }

      .beef {
        padding: 60px 15px 30px;
        background-color: white;
      }
      body {
        background-color: #E7E7E7;
      }
      .container {
        max-width:640px;
      }
      @media (max-width:640px) {
        body {
          background-color: white;
        }
      }
    </style>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner custom">
        <div class="container">
          <a class="brand" href="/">lauri lehmijoki</a>
          <img class="site-logo" src="/img/lauri.jpg" alt="Lauri">
        </div>
      </div>
    </div>

    <div class="container beef">
      {{ content }}
    </div> 
  </body>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30187195-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

  </script>
</html>

